main{
    border: 2px solid green;
    height: 500px;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed purple;
    width: 500px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.flex-container>div{
    border: 1px solid red;
    background-color: pink;
    color: blue;
    font-size: 30px;
    padding: 30px;
    margin: 20px;
}

